.mainBlock {
	width: 550px!important;
	padding: 10px;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
	display: flex;
	justify-content: center;
	margin: 0px!important;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.header {
	height: 60px;
}

.main_modal {
	top: 35px!important;
	height: 560px;
}
