.block {
	position: fixed;
 	width: 100px;
	height: 100vh;
	display: none;
	top: 42px;
}


.block:hover {
	background-color: #dce2e8;
}


.text {
	position: absolute;
	padding-top: 10px;
	margin-left: 10px;
	font-family: monospace;
	font-size: 14px;
}