.block {
	position: fixed;
	width: 80px;
	height: 100vh;
	display: none;
	top: 42px;
	text-align: center;
}


.block:hover {
	background-color: #dce2e8;
}


.text {
	padding-top: 10px;
	font-family: monospace;
	font-size: 14px;
}



@media screen and (max-width: 980px) {
	.block {
		display: none!important;
	}
}
