.mainBlock {
	width: 100%;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}


.header {
	display: none!important;
}

@media screen and (max-width: 768px) {
	.sideContent {
		display: none;
	}

	.header, .mainContent {
		width: 100%;
	}

}