* {
	text-decoration: none!important;
}

.block {
	width: 100%!important;
}

.header {
	padding: 3px 10px;
	font-size: 15px;
	font-family: sans-serif;
}



.header span {
	line-height: 55px;
}

.header img {
	width: 45px;
	height: 45px;
	border-radius: 100%;
	margin-right: 20px;
}


.postDate {
	float: right; 
}

.iconBlockContent {
	display: flex; 
	justify-content: space-around;
}

.iconText {
	flex: 1 0 0px;
	justify-content: center;
	display: flex;
}

.iconText button {
	width: 100%!important;
	padding: 10px!important;
	font-weight: normal!important;


	font-size: 13px!important;
}

.userImage {
	border-radius: 100%!important;
	display: block; 
	width: 2.5em; 
	height: 2.5em; 
	float: left; 
	margin-right: 15px;
}

.userImage:hover {
	opacity: 0.7;
}

.textComment {
	padding: 10px;
	word-break: break-word;
}





@media screen and (max-width: 980px) {


	.iconBlockContent {
		padding: 10px 0!important;
	}

	.iconText {		 
		height: 30px;
	}

	.iconText button {
		width: 75px!important;
	}

	.iconText button span {
		display: none!important;
	}

}

