.block {
	width: 100%!important;
}

.header {
	padding: 3px 10px;
	font-size: 15px;
	font-family: sans-serif;
}



.header span {
	line-height: 55px;
}

.header img {
	width: 45px;
	height: 45px;
	border-radius: 100%;
	margin-right: 20px;
}


.postDate {
	float: right; 
}



.iconBlockContent {
	display: flex; 
	justify-content: space-around;
}

.iconText {
	flex: 1 0 0px;
	justify-content: center;
	display: flex;
}

.iconText button {
	width: 100%!important;
	padding: 10px!important;
	font-weight: normal!important;


	font-size: 13px!important;
}

.userImage {
	border-radius: 100%;
}