.blockMobile {
	display: none!important;
}

.count_friends {
	float: right;
	margin-top: -23px;
	margin-right: 5px;
	color: #343a40!important;
}

.block {
	position: fixed;
	top: 60px;
	float: left;
	height: 100%;
	width: 120px!important;
	left: 80px;
}

.nav {
	width: 100%!important; 
	font-size: 12.5px!important;
}

.nav * {
	text-decoration: none!important; 
	transition: .5s ease-in-out;
}

.nav a:hover {
	border-radius: 115px!important; 
	background-color: #6993C4!important;  
}



/*
@media screen and (max-width: 768px) {
	.block {
		display: none;
	}



	.blockMobile {
		display: flex!important;
		z-index: 99999;
		top: 0px;
		height: 48px;
		width: 100%;
		box-shadow: 0 4px 4px 0 #0000000d,0 0 4px 0 #0000000d;
		background-color: #F9F9F9;
	}


	.blockMobile a {
		text-align: center;
		padding: 10px 0;
		width: 20%;
		padding: 10px 0;
	}


}*/