.block {
	position: fixed;
	top: 60px;
	float: left;
	height: 100%;
	width: 120px!important;
	left: 80px;
}

.nav {
	width: 100%!important; 
	font-size: 12.5px!important;
}

.nav * {
	text-decoration: none!important; 
	transition: .5s ease-in-out;
}

.nav a:hover {
	border-radius: 115px!important; 
	background-color: #6993C4!important;  
}
