.card {
	width: 100%;
	height: 50px;
	padding: 10px 15px;
	display: flex;
	justify-content: normal;
	background: #fff;
	border: none;
	border-radius: .28571429rem;
	box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}


.card img {
	border-radius: 100%!important;
	display: block;
	width: 2.5em;
	height: 2.5em;
	float: left;
	margin-right: 15px;
}

.imageInputMeme:hover {
	opacity: 0.7;
}