.cardUser {
	display: inline-block!important;
	width: 100vh!important;
	margin: 15px 15px!important;
	border-bottom: 1px solid #e7e8ec;
	width: 100%;
}

.card_content {
	padding-left: 100px;
}


.img_block {
	float: left;
	width: 80px;
	height: 80px;
}

.img_block img {
	display: block;
	width: 100%;
	height: auto;
	max-height: 100%;
	object-fit: cover;
}


.cardUser img {
	object-fit: cover;
	height: 160px;
	width: 100%;
}