body {
	background-color: #EDEEF0!important;
}

img {
	-webkit-user-drag: none;
}

.main {
	width: 100%;
	padding-top: 60px;
}


.main-content {
	display: flex;
	justify-content: center;
	padding: 0 15px;
	margin: 0 auto;
	width: 550px;
}



.main_user-content {
	display: flex;
	justify-content: normal;
	padding: 0 15px;
	margin: 0 auto;
	width: 900px;
}


.main_users-list {
	display: flex;
	justify-content: normal;
	margin: 0 auto;
	width: 600px;
}



@media screen and (max-width: 980px) {

	.main {
		padding-top: 10px;
	}

	.main-content, .main_user-content, .main_users-list {
		width: 100%;
	}

	.main-content {
		padding: 0px;
	}

}