body {
	background-color: #EDEEF0!important;
}

.main {
	width: 100%;
	padding-top: 60px;
}


.main-content {
	display: flex;
	justify-content: center;
	padding: 0 15px;
	margin: 0 auto;
	width: 550px;
}



.main_user-content {
	display: flex;
	justify-content: normal;
	padding: 0 15px;
	margin: 0 auto;
	width: 900px;
}