.header {
	z-index: 9999;
	position: fixed;
	margin: 0px;
	width: 100%;
	top: 0px;
	background-color: #17202A;
	height: 42px;
}


.logo {
	color: white;
	width: 40px;
	text-align: center;
	display: inline-block;
	font-size: 27px;
	font-family: monospace;
	cursor: pointer;
}

.content {
	display: flex;
	position: relative;
	margin: 0 auto;
	padding: 0 15px;
	width: 960px;
}

.search {
	margin: 7px 0;
	margin-left: 240px;
}


.inputSearch input {
	height: 28px;
	padding: 10px!important;
}



.nameBlock {
	position: fixed;
	right: 150px;
	padding: 0 5px;
	display: inline-block;
	color: white;
	margin-left: 200px;
	cursor: pointer;
	float: right;
	-webkit-font-smoothing: antialiased;
}

.textName {
	padding-right: 20px;
	display: inline-block;
	vertical-align: top;
	white-space: nowrap;
	line-height: 42px;
}

.nameBlock img {
	display: inline-block;
	vertical-align: top;
	width: 28px;
	height: 28px;
	border-radius: 14px;
	margin: 7px 0;


}

.nameBlock:hover {
	background-color: #1C2833 ;
}


.item_menu {
	position: relative;
	cursor: pointer;
	display: block;
	border: none;
	height: auto;
	text-align: left;
	border-top: none;
	line-height: 1em;
	color: rgba(0,0,0,.87);
	padding: .78571429rem 1.14285714rem!important;
	font-size: 1rem;
	text-transform: none;
	font-weight: 400;
	box-shadow: none;
	-webkit-touch-callout: none;
	text-decoration: none!important;
}

.item_menu:hover {
	background-color: #F2F2F2;
	color: rgba(0,0,0,.87);
}




@media screen and (max-width: 980px) {
	.header {
		display: none;
	}
}