.header {
	width: 900px;
	height: 160px;
	display: flex;
	border-radius: 4px;	background-color: white;
	box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
	margin-bottom: 25px;
	background-repeat: round;
}


.left {
	margin-right: 15px;
	width: 160px;
	height: 160px;
	text-align: center;
}


.left > img {
	padding-top: 1px;
	width: 158px;
	height: 158px;
	border-radius: 100%;
}


.center {
	padding-top: 5px;
	padding-left: 20px;
	border-radius: 5px 0 0 5px;
	background-color: white;
	margin: 15px 0;
	width: 400px;
}

.fullName {
	margin-top:;
	font-size: 24px;
	margin-bottom: 3px;
	font-family: unset;
}

.nickname_country {
	font-size: large;
	margin-bottom: 3px;
}

.status {
	font-size: 15px;
	height: 45px;
	word-break: break-all;
	overflow: hidden;
}

.friend_request {
	float: right;
	width: 200px!important;
}

.right {
	padding-top: 5px;
	padding-right: 20px;
	border-radius: 0 5px 5px 0;
	background-color: white;
	margin: 15px 0;
	margin-right: 15px;
	width: 150px;
	text-align: center;
}

.network {
	padding-left: 75px;
}

.rank {
	font-size: large;
	margin-bottom: 40px;
}

.add {
	padding-left: 75px;
}

.image_upload {
	position: absolute!important;
	text-align: center!important;
	padding-top: 50px!important;
	width: 160px!important;
	height: 160px!important;
	margin: 0px!important;
	opacity: 0;
}


.image_upload:hover {
	opacity: 0.7;
}

.btn_add_in_friend {
	margin-top: -10px!important;
}

.btn_add_in_friend:hover {
	opacity: 0.7;
}