.mainBlock {
	width: 100%;
	padding: 10px;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
	display: flex;
	justify-content: center;
	margin: 0px!important;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}


.inputSearch input {
	height: 40px!important;
	font-size: 15px;
}


.inputSearch i {
	font-size: 20px!important;
}